<html>
{% load bootstrap4 %}
{% bootstrap_css %}
<head>
  <nav class="navbar navbar-dark" style="background-color: #232D4B">
	<ul class="navbar-nav">
		<li class="nav-item active">
			<a class="nav-link" href="{% url 'index' %}">Homepage</a>
		</li>
	</ul>
</nav>
<div class="jumbotron jumbotron-fluid">
	<div class="container">
	   <h1 style = "text-align: center"> Hi, {{driver.first_name}}! </h1>
	</div>
</div>
  <p> You are signed up as a driver </p>
  <a style = href="{% url 'post_ride_driver' driver.id%}">
    <button class="btn btn-primary">Post a New Ride</button>
</a>

</head>


<body>
  <p style = "padding-top:20"> You have {{upcoming_rides_list.count}} upcoming trips </p>
  <ul>
  {% for ride in upcoming_rides_list %}
  <li>
    <p>Your next trip is on {{ride.date}}, from {{ride.departure_location}} to {{ride.destination_location}}.
    <a href=" {% url 'ride' ride.id%}"> Check your ride to {{ride.destination_location}} </a>
    </p>
  </li>
  {% endfor %}
  </ul>

  <p> You have {{past_rides.count}} past trips </p>
  <ul>
  {% for ride in past_rides %}
  <li>
    <p> Trip on {{ride.date}}, from {{ride.departure_location}} to {{ride.destination_location}}.
    <a href=" {% url 'ride' ride.id%}"> Check your ride to {{ride.destination_location}} </a>
    </p>
  </li>
  {% endfor %}
  </ul>

</body>



</html>
