<html>
{% load socialaccount %}
{% providers_media_js %}
{% load bootstrap4 %}
{% bootstrap_css %}
<head>
<link rel="stylesheet" type="text/css" href="post_ride.css">
<body style="background-color:#D4D9DE;">
</body>

<head>
<link rel="stylesheet" type="text/css" href="profile.css">
  <nav class="navbar navbar-dark" style="background-color:lightblue">
  <a class="navbar-brand" href="#">CavPool</a>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'index' %}">Homepage</a>
    </li>
  </ul>
</nav>

</head>

<br>
<br>


 <div class="col-sm-6">
    <div class="card-header" style="background-color: orange; border-color: transparent;">
    <h3 style =  "color: white">
    Post a New Ride
  </h1>
    </div>
    <div class="card" >
      <div class="card-body">
        <body>
          <form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputOriginCity">Departure City</label>
      <input type="text" class="form-control" id="origincity" placeholder="City">
    </div>
    <div class="form-group col-md-6">
      <label for="inputOriginState">Departure State</label>
      <input type="text" class="form-control" id="originstate" placeholder="State">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputOriginCity">Destination City</label>
      <input type="text" class="form-control" id="origincity" placeholder="City">
    </div>
    <div class="form-group col-md-6">
      <label for="inputOriginState">Destination State</label>
      <input type="text" class="form-control" id="originstate" placeholder="State">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputOriginCity">Departure Date</label>
      <input type="date" class="form-control" id="Date" placeholder="Date">
    </div>
    <div class="form-group col-md-6">
      <label for="inputOriginState">Departure Time</label>
      <input type="time" class="form-control" id="Time" placeholder="Time">
    </div>
</div >
  <div class="form-row">
    <div class="form-group col-md-6">
    <label for="seats">Number of Seats Available</label>
    <select class="form-control" id="seats">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
    </select>
  </div>
    <div class="form-group col-md-6">
    <label for="price">Price Per Rider</label>
    <select class="form-control" id="price">
      <option>5</option>
      <option>10</option>
      <option>15</option>
      <option>20</option>
      <option>25</option>
      <option>30</option>
      <option>35</option>
      <option>40</option>
      <option>45</option>
      <option>50</option>
      <option>55</option>
      <option>other</option>
    </select>
  </div>
  </div>
  
  <div class = text-center mt-4>
  <button type="submit" class="btn btn-primary">Submit Post</button>
</div>
</form>
      </div>
    </div>
  </div>
  <div>
    <h3 style = "padding-bottom:40";> </h3>
  </div>

        <body>






</html>
