html,
body,
header,

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}





<div class="row">
  <div class="column" style="background-color:#B0CBFF;">
    <h2 style = "text-align: left; color:white">My Rides</h2>
<body>
  <h3 style = "padding-top:20;color: blue"> Upcoming Trips </h3>
  <br>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Origin</th>
      <th scope="col">Destination</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
      {% for ride in upcoming_rides_list %}
        <tr>
      <td>{{ride.date}}</td>
      <td>{{ride.departure_location}}</td>
      <td>{{ride.destination_location}}</td>
      <td><a href=" {% url 'ride' ride.id%}"> Check this ride</a></td>
      </tr>
      {% endfor %}
  </tbody>
</table>
<br>
  <h3 style = "color: blue"> Past Trips </h3> <br>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Origin</th>
      <th scope="col">Destination</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      {% for ride in past_rides%}
        <tr>
      <td>{{ride.date}}</td>
      <td>{{ride.departure_location}}</td>
      <td>{{ride.destination_location}}</td>
      <td><a href=" {% url 'ride' ride.id%}"> Check this ride</a></td>
      </tr>
      {% endfor %}
  </tbody>
</table>

  </div>
  <div class="column" style="background-color:#FFD78A;">
    <h2 style = "text-align: left; color:white" >My Drives</h2>
    
  </div>
</div>




